.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 30px;
}

.login h2 {
  color: #7f5af0;
  font-size: larger;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login hr {
  width: 230px;
  border: 0.5px solid rgb(60, 60, 60);
  margin-bottom: 20px;
  margin-top: 20px;
}

.login label {
  width: 100px;
  margin-right: 120px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.87);
}

.login a {
  color: #7f5af0;
  text-decoration: none;
  font-size: 12px;
}

.login span {
  color: rgba(255, 255, 255, 0.87);
}

.container {
  width: 250px;
  min-height: 400px;
  background-color: #16161a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(50, 50, 50);
  background-color: #242629;
  color: rgba(255, 255, 255, 0.87);
}

.container input:focus {
  outline: 1px solid #7f5af0;
}

.container input:hover {
  background-color: #2c2c32;
  cursor: pointer;
}

.loginButton {
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #7f5af0;
  color: rgba(255, 255, 255, 0.87);
  border: none;
}

.loginButton:hover {
  background-color: #6f4ad0;
  cursor: pointer;
}

.registerContainer {
  background-color: #2c2c32;
  border-radius: 5px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.registerContainer:hover {
  background-color: #3c3c42;
}

.forgotPassword {
  background-color: #2c2c32;
  border-radius: 5px;
  padding: 8px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: 65px;
}

.forgotPassword:hover {
  background-color: #3c3c42;
}

.imgLogo {
  width: 200px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 10px;
}
