.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 370px;
  padding-block: 10px;
  background-color: #16161a;
  border-radius: 10px;
  margin-bottom: 10px;
}

.profileHeader img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.userInfo span {
  color: gray;
  font-size: 12px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.status p {
  margin: 10px;
  color: #7f5af0;
}

.container button {
  background-color: #7f5af0;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 50%;
  cursor: pointer;
}
button:hover {
  background-color: #6c4ce0;
}

.container .sendMessageButton {
  background-color: #2cb67d;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 40%;
  cursor: pointer;
}

.sendMessageButton:hover {
  background-color: #28a745;
}
