.profileBanner {
  display: flex;
  flex-direction: row;
  background-color: #16161a;
  border-radius: 10px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.profileBanner:hover {
  background-color: #1f1f23;
}

.profileHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.profileHead img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profileHead img:hover {
  border: 2px solid #7f5af0;
  cursor: pointer;
}

.profileInfo h2 {
  color: #7f5af0;
  font-size: 20px;
  margin: 1px;
  text-align: start;
}

.profileInfo p {
  color: #2cb67d;
  font-size: 15px;
  margin: 1px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
