.post {
  display: flex;
  flex-direction: column;
  background-color: #16161a;
  border-radius: 10px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.post:hover {
  background-color: #1f1f23;
}

.postProfileHead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postProfileHead img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postProfileHead img:hover {
  border: 2px solid #7f5af0;
  cursor: pointer;
}

.postProfileInfo h2 {
  color: #7f5af0;
  font-size: 15px;
  margin: 1px;
  text-align: start;
}

.postProfileInfo p {
  color: #2cb67d;
  margin: 1px;
}

.postProfileInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.text p {
  font-size: 12px;
}

.postProfileInfo span {
  margin: 1px;
  color: #94a1b2;
  font-size: 9px;
}

.postImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
